<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382319722415-cohu96k15h4gpvigfr1esbk2mio6k3ck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382319722415-cohu96k15h4gpvigfr1esbk2mio6k3ck</string>
	<key>API_KEY</key>
	<string>AIzaSyDErb6ZayniAbZoYDitia47gyuG1m514ow</string>
	<key>GCM_SENDER_ID</key>
	<string>382319722415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lalorosas.MySubscriptions</string>
	<key>PROJECT_ID</key>
	<string>mysubscriptions-7baa5</string>
	<key>STORAGE_BUCKET</key>
	<string>mysubscriptions-7baa5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382319722415:ios:611b36e9058657c42a795a</string>
	<key>DATABASE_URL</key>
	<string>https://mysubscriptions-7baa5.firebaseio.com</string>
</dict>
</plist>